<!-- test backend
    <p *ngFor="let product  of products">
    {{product.name}} {{product.unitPrice | currency:'EUR'}}
</p>
-->

<table class="table table-hover">
<thead class="thead-dark">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>Units in Stock</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let product of products">
        <td>
            <img src="{{product.imageUrl}}" alt="no image" height=50>
        </td>
        <td class="align-middle">{{product.name}}</td>
        <td class="align-middle">{{product.unitPrice | currency:'EUR'}}</td>
        <td class="align-middle">{{product.unitsInStock}}</td>
    </tr>

</tbody>
</table>

